#filter-comment-container                           {padding: 10%;}
#button-comment-container                           {margin-left: 32.5%;
                                                        margin-bottom: 5%;}
div:nth-of-type(1) button:first-of-type             {width: 25%;height: 45px; margin-right: 2%;
                                                        font-size: 18px; font-weight: 300; 
                                                        color: white;
                                                        background-color: #0ad20a;
                                                        border: none;}

div:nth-of-type(1) button:last-of-type              {width: 25%;height: 45px; margin-right: 2%;
                                                        font-size: 18px; font-weight: 300; 
                                                        color: white;
                                                        background-color:red;
                                                        border: none;}
#comment-container                                  {padding:3% 20%;}
#comment                                            {   padding: 2%;
                                                        margin-bottom: 2%;                                                        
                                                        -webkit-box-shadow: 2px 19px 16px -11px rgba(0,0,0,0.75);
                                                        -moz-box-shadow: 2px 19px 16px -11px rgba(0,0,0,0.75);
                                                        box-shadow: 2px 19px 16px -11px rgba(0,0,0,0.75);    }