
<div id="filter-comment-container ">
  <div id="button-comment-container">
    <button (click)="showComment()">Show comment</button>
    <button (click)="removeComment()">Remove comment</button>
  </div>
  <div id="comment-container" [@listAnimation]="commentList.length">
    <div id="comment" *ngFor="let c of commentList">
      <app-comment-viewer  [commento] ="c" ></app-comment-viewer>
    </div>
  </div>
</div>